@font-face {
  font-family: 'Young Serif';
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf)
    format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code,
pre {
  font-family: 'Roboto Mono', Monaco, courier, monospace;
}

code {
  font-size: inherit;
}

pre {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
  --Paragraph: 1rem;
}

html {
  background-color: var(--Stone-100);
}

body {
  font-family: 'Outfit', 'sans-serif';
  color: var(--Stone-600);
  min-height: max-content;
}

h2 {
  font-family: 'Young Serif', serif;
  color: var(--Brown-800);
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

dd {
  color: var(--Brown-800);
  font-weight: 700;
}

li::marker {
  color: var(--Rose-800);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--White);
  border-radius: 1rem;
}

.intro > img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.intro > h1 {
  font-family: 'Young Serif', serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--Stone-900);
  padding-inline: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

.intro > p {
  font-size: 1.125rem;
  color: var(--Stone-600);
  padding-inline: 2rem;
  margin-bottom: 2rem;
}

.overview {
  padding: 1rem 2rem;
  width: 100%;
  background-color: var(--Rose-50);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-bottom: 2rem;
}

.overview > h2 {
  color: var(--Rose-800);
  font-family: 'Outfit', 'sans-serif';
  font-size: 1.5rem;
}

.overview > ul {
  margin-inline-start: 1.5rem;
}

.overview > ul > li {
  margin-bottom: 0.5rem;
  padding-inline: 0.5rem;
}

.ingredients {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-bottom: 2rem;
}

.ingredients > ul {
  padding-inline-start: 1.5rem;
}

.ingredients > ul > li {
  margin-bottom: 0.5rem;
  padding-inline-start: 1.5rem;
}

.instructions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-bottom: 2rem;
}

.instructions > ol {
  padding-inline-start: 1.5rem;
}

.instructions > ol > li {
  margin-bottom: 0.5rem;
  padding-inline-start: 1.5rem;
}

.instructions li::marker {
  font-weight: 700;
}

.nutrition {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-bottom: 2rem;
}

.nutrition > p {
  margin-bottom: 2rem;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: canter;
}

dt {
  padding-inline-start: 2rem;
}

.dl-separator {
  grid-column: 1 / -1;
  margin-bottom: 1rem;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--Stone-150);
  margin-top: 1rem;
}

footer {
  margin-top: 2rem;
}

/* utilities */

separator {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--Stone-150);
  margin-top: 1rem;
}

.bold {
  font-weight: 700;
}

@media screen and (min-width: 480px) {
  body {
    max-width: 50rem;
    margin: 8rem auto 2rem;
    border-radius: 1rem;
    background-color: transparent;
  }

  .intro {
    display: grid;
    padding-block-start: 2rem;
  }

  .intro > img {
    width: calc(100% - 4rem);
    border-radius: 0.75rem;
    justify-self: center;
  }
}
